---
import { fetchPosts } from '../../lib/microcms.js';

export async function getStaticPaths() {
  const data = await fetchPosts();
  return data.contents.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
---

<html lang="ja">
  <body>
    <h1>{post.title}</h1>
    <div set:html={post.body}></div>
  </body>
</html>
